<!-- components/sidebar.html -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <h3>NGO Admin</h3>
    </div>
    <div class="sidebar-menu">
        <div class="menu-header">Main</div>
        <a class="menu-item" id="dashboard-link" href="../index.html">
            <i class="fas fa-th-large"></i>
            <span>Dashboard</span>
        </a>
        <a class="menu-item" id="pages-link" href="pages.html">
            <i class="fas fa-file-alt"></i>
            <span>Pages</span>
        </a>
        <a class="menu-item" id="blog-link" href="blog.html">
            <i class="fas fa-blog"></i>
            <span>Blog Posts</span>
        </a>
        <a class="menu-item" id="events-link" href="events.html">
            <i class="fas fa-calendar-alt"></i>
            <span>Events</span>
        </a>
        <a class="menu-item" id="gallery-link" href="gallery.html">
            <i class="fas fa-images"></i>
            <span>Gallery</span>
        </a>

        <div class="menu-header">Campaigns</div>
        <a class="menu-item" id="donations-link" href="donations.html">
            <i class="fas fa-hand-holding-heart"></i>
            <span>Donations</span>
        </a>
        <a class="menu-item" id="volunteers-link" href="volunteers.html">
            <i class="fas fa-users"></i>
            <span>Volunteers</span>
        </a>
        <a class="menu-item" id="projects-link" href="projects.html">
            <i class="fas fa-project-diagram"></i>
            <span>Projects</span>
        </a>

        <div class="menu-header">System</div>
        <a class="menu-item" id="users-link" href="users.html">
            <i class="fas fa-user-cog"></i>
            <span>Users</span>
        </a>
        <a class="menu-item" id="settings-link" href="settings.html">
            <i class="fas fa-cog"></i>
            <span>Settings</span>
        </a>
    </div>
</div>